.navbar {
  position: absolute;
  margin-top: 3%;
}
#page-home .carousel {
  margin-top: 2%;
}

#page-home .title-category h1 {
  color: var(--Black, #222);
  font-family: Metropolis;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 6%;
}
#page-home .title-category p {
  color: var(--Gray, #9b9b9b);
  font-family: Metropolis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 6%;
}

#page-home .category p {
  color: #fff;
  font-family: Metropolis;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page-home .category {
  /* width: 12vw;
    height: 12vw; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-home .category {
  border-radius: 15px;
  width: 100%;
  height: 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#page-home .category img {
  width: 200px;
  height: 146px;
  display: block;
  flex-shrink: 0;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}
#page-home .title-name {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  /* margin-top: 20%; */
  /* display: flex;
    justify-content: center; */
}
#page-home .title-new h1 {
  color: var(--Black, #222);
  font-family: Metropolis;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 6%;
  margin-top: 2%;
}
#page-home .title-new p {
  color: var(--Gray, #9b9b9b);
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 6%;
}
#page-home .content {
  width: 208px;
  height: 278px;
  flex-shrink: 0;
}
#page-home .title-popular h1 {
  color: var(--Black, #222);
  font-family: Metropolis;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 6%;
  margin-top: 7%;
}
#page-home .title-popular p {
  color: var(--Gray, #9b9b9b);
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 6%;
}

#page-home a {
  text-decoration: none;
}
