#shippingAddress .content-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

#shippingAddress .btn-add-address {
  width: 100%;
  height: 80px;
  background-color: white;
  color: #9b9b9b;
  border: 2px dashed #9b9b9b;
}

#shippingAddress .btn-add-address:hover {
  background-color: #eeeded;
}

#shippingAddress .btn-add-address:active {
  background-color: white;
}
