#register .acc {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400; 
    color: #222222;
    
}

#register .forgot {
    text-decoration: none;
    color: #DB3022;
    font-size: 12px;
    font-weight: 400;
    padding-left: 290px;
}

#register #input {
    width: 400px;
}

#register .logo-title {
    color: #DB3022;
}

#register .text-register {
    color: #222222;
    font-weight: 700;
}

#register .logo-title span {
    padding-top: 11px;
}